In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("E:\AI\Mechanical ML\class 06\supershops.csv")
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [7]:
x=df.drop('Profit' , axis=1)
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

Measure of Central Tendency

In [8]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [10]:
df[19:20]

    Marketing Spend  Administration  Transport   Area     Profit
19          86419.7       153514.11        NaN  Dhaka  122776.86

In [15]:
df.Transport.mean()  #not for outliers

215331.7324489796

In [16]:
df.Transport.median()  #for outliers

214634.81

In [17]:
df.Transport.max()

471784.1

In [18]:
df.Transport.min()

0.0

In [19]:
df.Transport=df.Transport.fillna(df.Transport.mean())

In [20]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [21]:
df[19:20]

    Marketing Spend  Administration      Transport   Area     Profit
19          86419.7       153514.11  215331.732449  Dhaka  122776.86

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
le=LabelEncoder()

In [30]:
df.Area=le.fit_transform(df['Area'])

In [31]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

ONe Hot Encoder

In [32]:
df2=df.copy()

In [33]:
pd.get_dummies(df2, prefix='area',drop_first=True).head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

#Ordinal

In [34]:
df2.Area.unique()

array([1, 0, 2])

In [35]:
from sklearn.preprocessing import OrdinalEncoder

In [36]:
ordinal=OrdinalEncoder(categories=[['Dhaka','Ctg','Rangpur']])

In [37]:
df2.Area=ordinal.fit_transform(df2[['Area']])

ValueError: invalid literal for int() with base 10: 'Dhaka'

In [ ]:
df2.head(