In [3]:
import pandas as pd
import numpy as np

In [8]:
data={'cost': [100,200,150,300,180]}
df=pd.DataFrame(data)

In [9]:
df.head()

   cost
0   100
1   200
2   150
3   300
4   180

In [11]:
#Normalization


min_cost=df['cost'].min()
max_cost=df['cost'].max()

df['cost_scaled_manual']=(df['cost']-min_cost)/(max_cost-min_cost)
df.head()

   cost  cost_scaled_manual
0   100                0.00
1   200                0.50
2   150                0.25
3   300                1.00
4   180                0.40

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [13]:
df['cost_scaled_sklearn']=scaler.fit_transform(df[['cost']])
df.head()

   cost  cost_scaled_manual  cost_scaled_sklearn
0   100                0.00                 0.00
1   200                0.50                 0.50
2   150                0.25                 0.25
3   300                1.00                 1.00
4   180                0.40                 0.40

In [ ]:
#Standardization

In [15]:
data={'cost': [100,200,150,300,180]}
df=pd.DataFrame(data)
df.head()

   cost
0   100
1   200
2   150
3   300
4   180

In [16]:
df['cost_scaled_stand']=(df['cost']-df.cost.mean())/df.cost.std()
df.head()

   cost  cost_scaled_stand
0   100          -1.161738
1   200           0.189120
2   150          -0.486309
3   300           1.539978
4   180          -0.081051

In [17]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()

In [18]:
df['cost_scaled_std_sklearn']=std.fit_transform(df[['cost']])
df.head()

   cost  cost_scaled_stand  cost_scaled_std_sklearn
0   100          -1.161738                -1.298863
1   200           0.189120                 0.211443
2   150          -0.486309                -0.543710
3   300           1.539978                 1.721748
4   180          -0.081051                -0.090618

In [19]:
#Robust Scaler

In [21]:
data={'cost': [100,200,150,300,180]}
df=pd.DataFrame(data)

In [24]:
q1=df.cost.quantile(0.25)
q3=df.cost.quantile(.75)
iqr=q3-q1

df['cost_scaled_robust']=(df.cost - df.cost.quantile(.50))/iqr
df.head()

   cost  cost_scaled_robust
0   100                -1.6
1   200                 0.4
2   150                -0.6
3   300                 2.4
4   180                 0.0

In [25]:
from sklearn.preprocessing import RobustScaler

In [26]:
df['cost_scaled_robust_sklearn']=RobustScaler().fit_transform(df[['cost']])
df.head()

   cost  cost_scaled_robust  cost_scaled_robust_sklearn
0   100                -1.6                        -1.6
1   200                 0.4                         0.4
2   150                -0.6                        -0.6
3   300                 2.4                         2.4
4   180                 0.0                         0.0

In [28]:
#Log Transform

In [30]:
data={'cost': [100,200,150,300,180]}
df=pd.DataFrame(data)
df.head()

   cost
0   100
1   200
2   150
3   300
4   180

In [31]:
from sklearn.preprocessing import FunctionTransformer

In [33]:
df['log_cost']=FunctionTransformer(np.log1p).fit_transform(df[['cost']])
df.head()

   cost  log_cost
0   100  4.615121
1   200  5.303305
2   150  5.017280
3   300  5.707110
4   180  5.198497

In [34]:
df['log_cost_np']=np.log1p(df[['cost']])
df

   cost  log_cost  log_cost_np
0   100  4.615121     4.615121
1   200  5.303305     5.303305
2   150  5.017280     5.017280
3   300  5.707110     5.707110
4   180  5.198497     5.198497

In [35]:
df['log_manual']=df['cost'].apply(lambda x: np.log1p(x))
df

   cost  log_cost  log_cost_np  log_manual
0   100  4.615121     4.615121    4.615121
1   200  5.303305     5.303305    5.303305
2   150  5.017280     5.017280    5.017280
3   300  5.707110     5.707110    5.707110
4   180  5.198497     5.198497    5.198497

In [36]:
#Box Cos( Power Transformation)

In [37]:
data={'cost': [100,200,150,300,180]}
df=pd.DataFrame(data)

In [39]:
from scipy.stats import boxcox
df['pow_box_cox'],_=boxcox(df['cost'])
df

   cost  pow_box_cox
0   100     5.658042
1   200     6.722225
2   150     6.272787
3   300     7.374979
4   180     6.556323

In [40]:
#Max Abs

In [41]:
from sklearn.preprocessing import MaxAbsScaler
scaler=MaxAbsScaler()
df['scaler_abs']=scaler.fit_transform(df['cost'])
df

ValueError: Expected 2D array, got 1D array instead:
array=[100. 200. 150. 300. 180.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.